html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
}
      
#map { 
  height: 100%; 
  z-index: 0;
}

.sidebar {
    z-index: 1;
    background-color: gray;
    width: 300px;
    height: 100%;
    position: absolute;
}

